.IssueComponent{
    cursor: pointer;
    border: 0;
    margin: 2px 2px;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 2vw !important;
    height: 2vw !important;
    border-radius: 50%;
}


.IssueComponent-missing{
    background-color: #d32f2f;
}

.IssueComponent-existent{
    background-color: #388e3c;
}

.IssueComponent-duplicated{
    background-color: #fbc02d;
}