.IssueComponent{
    cursor: pointer;
    border: 0;
    margin: 3px 3px;
    color: white;
    text-align: center;
    font-size: 0.6vw;
    font-weight: bold;
    width: 1.5vw !important;
    height: 1.5vw !important;
    border-radius: 50%;
    float: left;
    padding: 0.3vw 0.1vw;
}


.IssueComponent-missing{
    background-color: #d32f2f;
}

.IssueComponent-existent{
    background-color: #388e3c;
}

.IssueComponent-duplicated{
    background-color: #fbc02d;
}